#header {
  background-color: lightblue;
  text-align: center;
}
#header img {
  float: left;
}
.book {
  border: 1px solid black;
  float: left;
  height: 500px;
  width: 300px;
  word-wrap: normal;
  margin-left: 50px;
  margin-top: 50px;
  padding-left: 25px;
}
.book img {
  height: 200px;
}
.book_review {
  text-align: center;
  border: 1px solid black;
  padding-bottom: 400px;
}
.book_review {
  height: 400px;
}
.review {
  text-align: center;
  border: 1px solid black;
  margin-top: 50px;
}
