#header {
  background-color: #1743A1;
  color: white;
}
#header a img {
  float: left;
  height: 100px;
}
#header h1 {
  margin-left: 100px;
}
#header h3 {
  margin-left: 120px;
}
button {
  color: white;
  background-color: #1743A1;
  font-size: 16px;
  padding: 7.5px 16px;
}
.book {
  border: 1px solid black;
  float: left;
  height: 600px;
  width: 300px;
  word-wrap: normal;
  margin-left: 50px;
  margin-top: 50px;
  padding-left: 25px;
}
.book img {
  height: 200px;
}
.book_review {
  text-align: center;
  border: 1px solid black;
  padding-bottom: 300px;
  height: 600px;
}
.book_review img {
  height: 600px;
}
.review {
  text-align: center;
  border: 1px solid black;
  margin-top: 50px;
}
.login input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.login input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.login label {
  font-weight: bold;
}
.login {
  margin-left: 100px;
}
.message {
  background-color: #ED92D6;
  border: 0.5px solid black;
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  margin-left: 100px;
}
.search {
  display: inline;
}
.log {
  display: inline;
}
.log button {
  display: inline;
}
.search button {
  display: inline;
}
.search input {
  display: inline;
}
#add_book {
  float: left;
  display: inline;
  color: white;
  background-color: #1743A1;
  margin-left: 50px;
  margin-top: 50px;
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
}
.add_book input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.add_book {
  margin-left: 100px;
}
.add_book label {
  font-weight: bold;
}
.add_review input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.add_review {
  margin-left: 100px;
}
.add_review label {
  font-weight: bold;
}
