#header {
  background-color: lightblue;
  text-align: center;
}
.book {
  border: 1px solid black;
  float: left;
  height: 400px;
  width: 300px;
  word-wrap: normal;
  margin-left: 50px;
  margin-top: 50px;
}
.book img {
  height: 200px;
  text-align: center;
}
