#header {
  background-color: gold;
  color: purple;
  border: 1px solid black;
  text-align: center;
  font-family: "Comic Sans MS"
}
a {
  padding: 25px 50px 25px 50px;
}
.item, img {
  height: auto;
  width: 200px;
}
.item {
  margin: 50px;
  text-align: center;
  border: 2px solid black;
}
