#header {
  background-color: gold;
  color: purple;
  border: 1px solid black;
  text-align: center;
  font-family: "Comic Sans MS"
}
a {
  padding: 25px 50px 25px 50px;
}
.item, img {
  height: 200px;
  width: auto;
}
.item {
  float: left;
  margin: 50px 0px 0px 50px;
  text-align: center;
  border: 2px solid black;
  padding-bottom: 120px;
}
#view_cart {
  text-align: center;
}
#checkout {
  text-align: center;
}
#confirmation {
  text-align: center;
}
